.videoplayer {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.videoplayer:hover .controls,
.overlay--show ~ .controls {
  opacity: 1;
}

.controls {
  position: absolute;
  inset: auto 0 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  color: white;
  opacity: 0;
  transition: opacity 250ms;
  z-index: 100;
}

.progress-container {
  width: 100%;
  height: 0.5rem;
  background-color: hsl(0, 50%, 25%);
  position: relative;
  border-radius: 1rem;
}

.progress-bar {
  width: var(--current-time);
  position: absolute;
  left: 0;
  top: 0;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: hsl(0, 70%, 53%);
  pointer-events: none;
}

.progress-bar::after {
  content: '';
  position: absolute;
  top: -0.3rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: rgb(136, 33, 33);
  border: 2px solid white;
  border-radius: 50%;
}

.volume-info {
  text-align: center;
  min-width: 42px;
}

.speed-info {
  text-align: center;
  min-width: 28px;
}
